<% wrap_layout :layout do %>

		<div id="article-content">

			<aside>
				<ul class="paginate-menu">
					<% if current_page.previous_article %>
					<li id="goto_prev"><%= link_to '&laquo; <span>' + current_page.previous_article.title + '</span>', current_page.previous_article %></li>
					<% end %>

					<% if current_page.next_article %>
					<li id="goto_next"><%= link_to "<span>" + current_page.next_article.title + "</span> &raquo;", current_page.next_article %></li>
					<% end %>
					</ul>
					<h2><%= current_page.data.title %></h2>
			</aside>
			<article>
				<%= yield %>
			</article>

			<figure>
				<div id="pictures-wall" class="wall">
				<% current_page.data.pictures.each do |src, i| %>
					<img src="<%= src %>" />
				<% end %>
				</div>
			</figure>
			<script>
				$(document).ready(function() {
					var myWall = new Views.PictureWall($("#pictures-wall"), {
						item: "img"
					});
				})
			</script>
		</div>
<% end %>
