<% wrap_layout :layout do %>

		<div id="article-content">

			<aside>
				<ul class="paginate-menu">
					<% if current_page.previous_article %>
					<li id="goto_prev"><%= link_to '&laquo; ' + current_page.previous_article.title, current_page.previous_article %></li>
					<% end %>

					<% if current_page.next_article %>
					<li id="goto_next"><%= link_to current_page.next_article.title + " &raquo;", current_page.next_article %></li>
					<% end %>
					</ul>
					<h2><%= current_page.data.title %></h2>
			</aside>
			<article>
				<%= yield %>
			</article>

			<figure>
				<div id="pictures-wall" class="wall">
					<img class="portrait" width="200" height="300" alt="1" />
					<img class="landscape" width="300" height="200" alt="2" />
					<img class="landscape" width="300" height="200" alt="3" />
					<img class="landscape" width="300" height="200" alt="4" />
					<img class="landscape" width="300" height="200" alt="5" />
					<img class="portrait" width="200" height="300" alt="6" />
					<img class="landscape" width="300" height="200" alt="7" />
					<img class="landscape" width="300" height="200" alt="8" />
					<img class="landscape" width="300" height="200" alt="9" />
					<img class="portrait" width="200" height="300" alt="10" />
					<img class="portrait" width="200" height="300" alt="11" />
					<img class="landscape" width="300" height="200" alt="12" />
					<img class="portrait" width="200" height="300" alt="13" />
				</div>
			</figure>

			<script>
				var myWall = new Views.PictureWall($("#pictures-wall"));
				myWall.render();
			</script>
		</div>


		<div class="bloc">
			<h2>Articles récents</h2>
			<ol>
				<% blog.articles[0...5].each do |article| %>
					<li><%= link_to article.title, article %> <span><%= article.date.strftime('%d.%m.%y') %></span></li>
				<% end %>
			</ol>
		</div>
<% end %>
