<% wrap_layout :layout do %>

		<div id="article-content">

			<aside>
				<ul class="paginate-menu">
					<% if current_page.previous_article %>
					<li id="goto_prev"><%= link_to '&laquo; ' + current_page.previous_article.title, current_page.previous_article %> précédent</li>
					<% end %>

					<% if current_page.next_article %>
					<li id="goto_next">suivant <%= link_to current_page.next_article.title + " &raquo;", current_page.next_article %></li>
					<% end %>
					</ul>

					<h2><%= current_page.data.title %></h2>
			</aside>
			<article>
				<%= yield %>
			</article>
			<figure>
				<% current_page.data.pictures.each do |src, i| %>
					<img src="<%= src %>" width="510" />
				<% end %>
			</figure>
		</div>


<% end %>
