---
pageable: true
per_page: 5
---

<%= partial "paginate", :locals => { :paginate => paginate, :prev_page => prev_page, :next_page => next_page, :page_number => page_number, :num_pages => num_pages } %>

<% page_articles.each_with_index do |article, i| %>
    <article class="list-item">
      <h2><%= link_to article.title, article %> <span><%= article.date.strftime('%d.%m.%y') %></span></h2>
      <!-- use article.summary(250) if you have Nokogiri available to show just
           the first 250 characters -->

      <figure>
        <img src="<%= article.data.pictures[0] %>" width="510" />
      </figure>
      <%= article.summary %>

    </article>
<% end %>
