---
pageable: true
per_page: 5
---
<aside>
  <% if paginate %>
    <ul class="paginate-menu">
        <li id="goto_prev"><% if prev_page %><%= link_to '&laquo; article précédent', prev_page %><% else %>&laquo; article précédent<% end %></li>
        <li>Page <%= page_number %> sur <%= num_pages %></li>
        <li id="goto_next"><% if next_page %><%= link_to 'Article suivant &raquo;', next_page %><% else %>Article suivant &raquo;<% end %></li>
      </ul>
  <% end %>
</aside>

<% page_articles.each_with_index do |article, i| %>

    <article>
      <h2><%= link_to article.title, article %> <span><%= article.date.strftime('%d.%m.%y') %></span></h2>
      <!-- use article.summary(250) if you have Nokogiri available to show just
           the first 250 characters -->
      <%= article.summary %>
    </article>

<% end %>


<aside>
  <% if paginate %>
    <ul class="paginate-menu">
        <li id="goto_prev"><% if prev_page %><%= link_to '&laquo; article précédent', prev_page %><% else %>&laquo; article précédent<% end %></li>
        <li>Page <%= page_number %> sur <%= num_pages %></li>
        <li id="goto_next"><% if next_page %><%= link_to 'Article suivant &raquo;', next_page %><% else %>Article suivant &raquo;<% end %></li>
      </ul>
  <% end %>
</aside>
